body{
    background-image: url(../media/login.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
    font-family: Tahoma, sans-serif;}
