body{
    background-image: url(../media/pixel.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    color: #ffffff;
    font-family: Tahoma, sans-serif;}
